{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}}
  <link rel="stylesheet" href="{{ url_for('.static', filename='css/creategroup.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}
{% block title %} Conversations Manager {% endblock %}

{% block navbar %}

{% endblock %}


{% block page_title %} Conversations Manager {% endblock %}

{% block content %}
<div class="sidenav">
  <a class="other-links" href="/manage"><span class="glyphicon glyphicon-signal"></span> Dashboard</a>
  <a href="/manage" class="menu-active"> <span class="glyphicon glyphicon-envelope"></span> Inbox</a>
  <a class="other-links" href="#services"><span class="glyphicon glyphicon-bullhorn"></span>Broadcast</a>
  <a class="other-links" href="#contact"><span class="glyphicon glyphicon-user"></span> Groups</a>
  <a class="other-links" href="#contact"><span class="glyphicon glyphicon-modal-window"></span> Bots </a>

  <!--<a href="#clients">Go to recast.ai</a> -->
</div>

<div class="container main"> 
	<div class="tab-title">
		Create a new group
	</div>
	<div class="tab-content">

		

		<form method="POST" action="/send_message">
     		<div class="form-group">
     			<span class="name-label"> Name: </span> 
     			<input type="text" name="name" class="form-control">
     			<span class="description-label"> Description: </span> 
     			<textarea rows="3" type="text" name="description" class="form-control"></textarea> 


				{% for conversation in conversations %}
				<div class="line">
					<input type="checkbox" value="{{ conversation['id'] }}">
					<span class="username"> 
						{{ conversation['username'] }}
					</span>
					<span class="channel">
						{{ conversation['channel'] }}
					</span>
				</div>
				
				{% endfor %}
		     
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <input type="submit" id="save" class="btn" value="Save">
		    </div>
     	 </form>
		
				
			
	</div>
	<script src="https://js.pusher.com/4.2/pusher.min.js"></script>

	  <script>

	    // Enable pusher logging - don't include this in production
	    Pusher.logToConsole = true;

	    var pusher = new Pusher('9b465c99e2e7e0b46bcb', {
	      cluster: 'eu',
	      encrypted: true
	    });

	    var channel = pusher.subscribe('index-channel');
	    channel.bind('conversation-updated', function(data) {
	      location.reload(window.location.href + "#conversations_list" )
	    });
	  </script>

</div>

{% endblock %}