.menu-active {
  background-color: #3bcc99;
}
.sidenav {
    height: 100%;
    width: 15vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(200,200,200, 0);
    overflow-x: hidden;
    padding-top: 25vh;
    border-right: thin solid #aaa;
}

.sidenav a {
    padding-top: 2vh;
    text-decoration: none;
    font-size: 18px;
    color: #f1f1f1;
    text-align: center; 
    display: block;
    height: 8vh;
    margin-top: 2vh;
    font-family: 'Raleway', sans-serif;
}
.other-links {
    background-color: rgba(100,100,100, 0.3);
}
.menu-active {
  background: #3bcc99;
  color: red;
  z-index: 3;
}

.sidenav a span {
  float: left;
  margin-left: 2vw;
}

.sidenav a:hover {
    background-color: #3bcc99;
}

body {
    /*background: linear-gradient(-45deg, #338BC2, #E5C7D0);*/
    background: #383C48;
    background-size: contain no-repeat;
    width: 100vw ;
    height: 100vh;
    overflow-y: hidden; 
    overflow-x: hidden; 

}
.main {
    margin-left: 15vw; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    height: 100%;
    width: 85vw;
    background: #f1f1f1;
}


.messages, .users {
  height: 28vh;
  width: 20vw;
  background-color: white;
  padding-top: 7px;
  margin-left: 1vw;

}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.circle2 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  font-size: 70px;
  padding-top: 23px; 
  color: white;
  text-align: center;
  background-color: rgba(100,100,100, 0.3);
  margin-top: 5vh;
}

.circle2 span {
  font-size: 70px;

}

