
.tab-content {
  width: 75vw;
  height: 80vh;
  margin-top: 6vh; 
  margin-left: 5vw;
}

.status {
  height: 3vh;
}

.delete {
    background-color: #ffbd3d; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer;
    margin-top: 1vh; /* Mouse pointer on hover */
}

.delete:hover {
  background-color:  #ffbd3d;
  color: white; 
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.is-active {
  color: white;

}

.ok {
  background-color: #34A8FF;
}

.fallback {
  background-color: #AB00FF;
}

.inspect {
  background-color: #3BCC99;
  color: white;
  padding: 10px 11px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer;
    margin-top: 2vh;
}

.inspect:hover {
  color: white; 
  background-color: #3BCC99;
}


.circle2 {
  margin-top: 2vh;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  font-size: 60px;
  padding-top: 23px; 
  color: white;
  text-align: center;
  background-color: rgba(100,100,100, 0.3);
}

.circle2 span {
  font-size: 60px;

}

.user-card {
  background-color: white;
  margin-top: 2vh; 
  margin-bottom: 1vh;
  width: 50vw; 
  height: 30vh;
  padding-top: 5vh;
  padding-left: 3vw;
  margin-left: 3vh;
  box-shadow: 1px 3px 10px 3px rgba(156, 160, 172, 0.5);
}

.number_conversations {
  background-color: white;
  margin-top: 15vh; 
  margin-bottom: 1vh;
  width: 15vw; 
  height: 25vh;
  margin-left: 18vh;
  text-align: center;
  position: fixed;
  box-shadow: 1px 3px 10px 3px rgba(156, 160, 172, 0.5);

}

.number-title {
  padding-top: 4vh;
  color: #3BCC99;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;

}
.latest-title{
  padding-top: 3vh;
  color: #3BCC99;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;

}
.number-text{
  color: grey;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  padding-top: 2vh;

}

.latest-text {
  color: grey;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  padding-top: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
}
.latest_message {
  background-color: white;
  margin-top: 48vh; 
  margin-bottom: 1vh;
  width: 15vw; 
  height: 25vh;
  text-align: center;
  margin-left: 18vh;
  position: fixed;
  box-shadow: 1px 3px 10px 3px rgba(156, 160, 172, 0.5);
}

.name {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: grey;
    margin-top: 1vh;
}

.email {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: grey;
    margin-top: 3vh;
}

.phone, .channel {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: grey;
    margin-top: 1vh;
}

.name b {
  color: #ffbd3d;
}
.phone b, .channel b, .email b{
  color: #3BCC99;
}
.date {
  float: right;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
    font-size: 14px;
    margin-right: 2vw;
    margin-top: 4vh;
    color: #686C78;

}
