.sidenav {
    height: 100%;
    width: 15vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(200,200,200, 0);
    overflow-x: hidden;
    padding-top: 25vh;
    border-right: thin solid #aaa;
}

.sidenav a {
    padding-top: 2vh;
    text-decoration: none;
    font-size: 18px;
    color: #f1f1f1;
    text-align: center; 
    display: block;
    height: 8vh;
    margin-top: 2vh;
    background-color: rgba(100,100,100, 0.3);
    font-family: 'Raleway', sans-serif;
}

.sidenav a span {
  float: left;
  margin-left: 2vw;
}

.sidenav a:hover {
    background-color: #3bcc99;
}

body {
    background: #383C48;
    background-size: contain no-repeat;
    width: 100vw ;
    height: 100vh;
}
.main {
    margin-left: 15vw; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    height: 100%;
    width: 85vw;
    background: #f1f1f1;
}
.tab-title {
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  padding-top: 5vh;
  font-weight: lighter;
  color: #71697a;
  font-family: Arial, Helvetica, sans-serif;
}

.tab-content {
  width: 75vw;
  height: 80vh;
  margin-top: 6vh; 
  margin-left: 5vw;
}

thead tr th{
  font-size: 18px; 
  color: #fff;
  font-weight: 300;
  background-color: rgba(100,100,100,0.2)
}

thead tr {
  background: linear-gradient(-90deg, #becfd8, #E5C7D0);
  
}

tr {
  height: 8vh;
  padding-top: 5vh; 
  background-color: rgba(100,100,100, 0.2);

}
th {
  padding-top: 4vh;
  vertical-align: center;
  font-weight: 300;
  color: #222;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
}
tr:hover {
  background-color: rgba(200,200,200, 0.2);
}
tbody {
  font-size: 15px; 
}

.status {
  height: 3vh;
}

.delete {
    background-color: #5DCBA6; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

.delete:hover {
  background-color: rgb(69, 173, 136);
  color: white; 
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.is-active {
  color: white;

}

.ok {
  background-color: #34A8FF;
}

.fallback {
  background-color: #AB00FF;
}

.inspect {
  background-color: #929BF2;
  color: white;
}

.inspect:hover {
  color: white; 
  background-color: rgb(101, 113, 216);
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}