.sidenav {
    height: 100%;
    width: 15vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(200,200,200, 0);
    overflow-x: hidden;
    padding-top: 25vh;
    border-right: thin solid #aaa;
}

.sidenav a {
    padding-top: 2vh;
    text-decoration: none;
    font-size: 18px;
    color: #f1f1f1;
    text-align: center; 
    display: block;
    height: 8vh;
    margin-top: 2vh;
    background-color: rgba(100,100,100, 0.3);
}

.sidenav a:hover {
    color: #444;
}

body {
    background: linear-gradient(-45deg, #338BC2, #E5C7D0);
    background-size: contain no-repeat;
    width: 100vw ;
    height: 100vh;
    overflow-y: hidden; 
    overflow-x: hidden; 

}
.main {
    margin-left: 15vw; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    height: 100%;
    width: 85vw;
    background: #f1f1f1;
}
.tab-title {
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  padding-top: 5vh;
  font-weight: lighter;
  color: #71697a;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 15px;
}

a {
  color: #111;
}

.tab-content {
  width: 75vw;
  height: 80vh;
  margin-top: 4vh; 
  margin-left: 5vw;
  font-size: 15px;
}
.nav-item {
  width: 25vw;
  text-align: center;
}

.messages {
  height: 47vh;
  width: 66vw;
  overflow-y: auto; 
  background: linear-gradient(-90deg, #becfd8, #E5C7D0);
  margin-left: 3vw; 
  padding-top: 7px;
}

.form-group {
  width: 60vw;
  margin-left: 5vw; 
  display: inline-block;
}

#comment {
  margin-top: 2vh;
}

#send {
   margin-left: 62vw; 
   margin-top: 2vh;
   font-size: 18px; 
   color: white;
   background-color: #929BF2;
}
.off {
   margin-left: 62vw; 
   margin-top: 2vh;
   font-size: 18px; 
   color: white;
   background-color: red;
}
.on {
   margin-left: 62vw; 
   margin-top: 2vh;
   font-size: 18px; 
   color: white;
   background-color: green;
}

#conversation {
  margin-top: 4vh
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.message-left, .message-right {
  width: auto; 
  height: auto; 
  margin: 5px; 
  margin-left: 7px;
  margin-right: 7px;
}

.message-left {
  float: left;  
  margin-right: 50%; 
}
.message-right {
  float: right;
  margin-left: 50%;
}

.message-left p{ 
  background-color: white; 
  padding: 7px;
  width: auto;
  color: #71697a;
  display: inline-block;

}
.message-right p{
  background-color: white;
  padding: 7px;
  width: auto;
  color: #71697a;
  display: inline-block;
}

.message-right .circle {
  padding: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
}
.message-left .circle {
  padding: 12px;
  padding-bottom: 16px;
  padding-top: 16px;
}
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-size: 14px;
  color: white;
  text-align: center;
  background-color: rgba(100,100,100, 0.3);
  display: inline;
}

.nav-link {
    color: #444;

}

