
.tab-title {
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  padding-top: 5vh;
  font-weight: lighter;
  color: #71697a;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 15px;
}

a {
  color: #111;
}

.tab-content {
  width: 75vw;
  height: 80vh;
  margin-top: 4vh; 
  margin-left: 5vw;
  font-size: 15px;
}
.nav-item {
  width: 25vw;
  text-align: center;
}

.messages {
  height: 58vh;
  width: inherit;
  overflow-y: auto; 
  background-color: #f1f1f1;
  padding-top: 7px;
  margin-left: 1vw;
}

.form-group {
  position: relative;
}

#comment {
  margin-top: 2vh;
  width: 45vw;
  margin-left: 3vw;
  position: absolute;
}

#send {
   margin-left: 49vw; 
   margin-top: 4vh;
   font-size: 18px; 
   color: white;
   background-color: #3bcc99;
   position: absolute;
}

#conversation {
  margin-top: 0vh;
}

#conversation form {
  width: inherit;
}


.message-left, .message-right {
  width: auto; 
  height: auto; 
  margin: 5px; 
  margin-left: 7px;
  margin-right: 7px;
}

.message-left {
  float: left;  
  margin-right: 50%; 
}
.message-right {
  float: right;
  margin-left: 50%;
}

.message-left p{ 
  background-color: white; 
  padding: 7px;
  width: auto;
  color: #71697a;
  display: inline-block;

}
.message-right p{
  background-color: white;
  padding: 7px;
  width: auto;
  color: #71697a;
  display: inline-block;
}

.message-right .circle {
  padding: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: #3BCC99;
}
.message-left .circle {
  padding: 12px;
  padding-bottom: 16px;
  padding-top: 16px;
  background-color: #ffbd3d;
}
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-size: 14px;
  color: white;
  text-align: center;
  display: inline;
}

.nav-link {
    color: #444;

}
.setbotmode {
  float: right;
}
#turnbot {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
#botmode {
  font-size: 12px; 
  color: white;
}

.off {
   
   background-color: #ffbd3d;
}
.on {
  
   background-color: #3BCC99;
}
.back {
  float: left; 
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
    background-color: rgba(100,100,100, 0.3);
    color: white;
    margin-top: 2vh;
}

.top-bar {
  width: 80vw;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: 7vh;
  height: 7vh;
  display: inline-block;

}
.user-card {
  background-color: white; 
  height: 55vh;
  width: 20vw; 
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 12vh;
  padding-top: 5vh;
  box-shadow: 1px 3px 10px 3px rgba(156, 160, 172, 0.5);
}

.circle2 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  font-size: 70px;
  padding-top: 23px; 
  color: white;
  text-align: center;
  background-color: rgba(100,100,100, 0.3);
  margin-top: 5vh;
}

.circle2 span {
  font-size: 70px;

}

.name {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #3BCC99; 
  margin-top: 4vh; 
}

.phone {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: #383C48;  
  margin-top: 2vh
  margin-right: 1vw;  
}

.email {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: #383C48;
  margin-top: 2vh;
  margin-right: 1vw;  
}