{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='css/dashboard.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Coda|Exo+2|Nobile|Noto+Sans|PT+Mono|Quicksand|Raleway|Tenor+Sans" rel="stylesheet">

 
{% endblock %}
{% block title %} Conversations Manager {% endblock %}

{% block navbar %}

{% endblock %}
 <meta http-equiv="refresh" content="5">

{% block page_title %} Conversations Manager {% endblock %}

{% block content %}
<div class="sidenav">
  <a class="menu-active" href="/dashboard"><span class="glyphicon glyphicon-signal"></span> Dashboard</a>
  <a href="/manage" class="other-links"> <span class="glyphicon glyphicon-envelope"></span> Inbox</a>
  <a class="other-links" href="#services"><span class="glyphicon glyphicon-bullhorn"></span>Broadcast</a>
  <a class="other-links" href="#contact"><span class="glyphicon glyphicon-user"></span> Groups</a>
  <a class="other-links" href="#contact"><span class="glyphicon glyphicon-modal-window"></span> Bots </a>

  <!--<a href="#clients">Go to recast.ai</a> -->
</div>

<div class="container main"> 
	
	<div class="col-sm-6" align="center">
		<div class="messages"></div>
	</div>

	<div class="col-sm-6" align="center">
		<div class="users"></div>
	</div>

     <script type="text/javascript">
  	  	(function fct() {

	  		var objDiv = document.getElementById("conversation-content");
			objDiv.scrollTop = objDiv.scrollHeight;
  	  	})();
  	  </script>

  	  <script src="https://js.pusher.com/4.2/pusher.min.js"></script>

	<!--  <script>

	    // Enable pusher logging - don't include this in production
	    Pusher.logToConsole = true;

	    var pusher = new Pusher('9b465c99e2e7e0b46bcb', {
	      cluster: 'eu',
	      encrypted: true
	    });

	    var channel = pusher.subscribe('inspect-channel');
	    channel.bind('new-message', function(data) {
	      location.reload(window.location.href + "#conversation-content" )
	    });


	  </script> -->

	
	

</div>

{% endblock %}