{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}}
  <link rel="stylesheet" href="{{ url_for('.static', filename='css/index.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}
{% block title %} Conversations Manager {% endblock %}

{% block navbar %}

{% endblock %}


{% block page_title %} Conversations Manager {% endblock %}

{% block content %}
<div class="sidenav">
  <a href="/manage"><span class="glyphicon glyphicon-signal"></span> Dashboard</a>
  <a href="/manage" class="menu-active"> <span class="glyphicon glyphicon-envelope"></span> Inbox</a>
  <a href="#services"><span class="glyphicon glyphicon-bullhorn"></span>Broadcast</a>
  <a href="#contact"><span class="glyphicon glyphicon-user"></span> Groups</a>
  <a href="#contact"><span class="glyphicon glyphicon-modal-window"></span> Bots </a>

  <!--<a href="#clients">Go to recast.ai</a> -->
</div>

<div class="container main"> 
	<div class="tab-title">
		Inbox
	</div>
	<div class="tab-content">
		<table class="table " id="conversations_list">
			<thead>
				<tr>
					<th> Username </th>
					<th> Conversation_id </th>
					<th> Status </th>
					<th> Channel </th>
					<th> Last updated </th>
					<th>  </th>
					<th>  </th>
				</tr>
			</thead>
			<tbody>
				{% for conversation in conversations %}
				<tr>
					<th> {{ conversation['username'] }} </th>
					<th> {{ conversation['conv_id'] }}</th>
					
					{% if conversation['status'] == "FALLBACK" %}
						<th> <span class="label fallback status"> {{ conversation['status'] }} </span> </th> 	
					{% else %}
					 	<th> <span class="label ok status"> {{ conversation['status'] }} </span> </th> 
					{% endif %}
					
					<th> {{ conversation['channel'] }} </th>
					<th> {{ conversation['lastupdated'] }} </th>
					<th> <form method="POST" action="/inspect/{{ conversation['conv_id'] }}">
						<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
						<input type="hidden" name="conv_id" value="{{ conversation['conv_id'] }}"/>
              			<input type="submit" class="btn inspect" value="Inspect! ">
   				       </form>
   				    </th>
   				    <th>
   				    	<form method="POST" action="/delete">
						<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
						<input type="hidden" name="conv_id" value="{{ conversation['conv_id'] }}"/>
   				    	<button class="btn delete" type="submit"><i class="fa fa-trash"></i></button>
   				       </form>

   				    </th>

				</tr>
				{% endfor %}
				
			</tbody>
		</table>
	</div>
	<script src="https://js.pusher.com/4.2/pusher.min.js"></script>

	  <script>

	    // Enable pusher logging - don't include this in production
	    Pusher.logToConsole = true;

	    var pusher = new Pusher('9b465c99e2e7e0b46bcb', {
	      cluster: 'eu',
	      encrypted: true
	    });

	    var channel = pusher.subscribe('index-channel');
	    channel.bind('conversation-updated', function(data) {
	      location.reload(window.location.href + "#conversations_list" )
	    });
	  </script>

</div>

{% endblock %}