{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='css/inspect.css')}}">
 
{% endblock %}
{% block title %} Conversations Manager {% endblock %}

{% block navbar %}

{% endblock %}
 <meta http-equiv="refresh" content="5">

{% block page_title %} Conversations Manager {% endblock %}

{% block content %}
<div class="sidenav">
  <a href="/manage" class="is-active">Inbox</a>
  <a href="/manage"> Dashboard</a>
  <a href="#services">Broadcast Messages</a>
  <a href="#contact"> Manage Groups</a>
  <a href="#clients">Go to recast.ai</a>
</div>

<div class="container main"> 
	<div class="tab-title">
		<h1>Inspecting </h1>
	</div>
	<div class="tab-content nav-center">
		  <ul class="nav nav-tabs">
		    <li class="nav-item active">
		      <a class="nav-link" data-toggle="tab" href="#conversation"> Conversation </a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link " data-toggle="tab" href="#answered"> Answered messages </a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" data-toggle="tab" href="#nonanswered"> Non answered Messages</a>
		    </li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="">
		    <div id="conversation" class="container tab-pane active"><br>
		     	<div id="conversation-content" class="messages"> 
		     		{% for message in conversation %}
		     			{% if  message['isBot']  %}
		     				<div class="message-right" align="right"> <p> {{ message['content'] }}  </p> <div class="circle">Bot</div> </div>
		     			{% else %}	
		     				<div class="message-left" align="left">  <div class="circle">User</div> <p> {{ message['content'] }} </p></div> 
		     			{% endif %}
		     		{% endfor %}
		     		
		     	</div>
		     	<form method="POST" action="/setbotmode">
		     		<div class="form-group">
		              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		              {% if botmode == "ON" %}
		              <input type="hidden" name="bot_mode" value="OFF"/>
		              <input type="submit" id="botmode" class="btn off" value="Set bot mode off">
		              {% else %}
		              <input type="hidden" name="bot_mode" value="ON"/>
		              <input type="submit" id="botmode" class="btn on" value="Set bot mode on">
		              {% endif %}

				    </div>
	         	 </form>
		     	<form method="POST" action="/send_message">
		     		<div class="form-group">
				      <textarea class="form-control" rows="3" id="comment" name="message_to_send"></textarea>
		              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		              <input type="submit" id="send" class="btn " value="Send">
				    </div>
	         	 </form>
		    </div>

		     <script type="text/javascript">
		  	  	(function fct() {

			  		var objDiv = document.getElementById("conversation-content");
					objDiv.scrollTop = objDiv.scrollHeight;
		  	  	})();
		  	  </script>

		  	  <script src="https://js.pusher.com/4.2/pusher.min.js"></script>

			  <script>

			    // Enable pusher logging - don't include this in production
			    Pusher.logToConsole = true;

			    var pusher = new Pusher('9b465c99e2e7e0b46bcb', {
			      cluster: 'eu',
			      encrypted: true
			    });

			    var channel = pusher.subscribe('inspect-channel');
			    channel.bind('new-message', function(data) {
			      location.reload(window.location.href + "#conversation-content" )
			    });
			  </script>

		    <div id="answered" class="container tab-pane fade"><br>
		      
		    </div>
		    <div id="nonanswered" class="container tab-pane fade"><br>
		     

		    </div>
		  </div>
	</div>
	
	

</div>

{% endblock %}