{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
  <link rel="stylesheet" href="{{ url_for('.static', filename='css/login.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}
 
{% block content %}
 

<div class="tab-content">
  <div class="col-sm-6" id="left">
    <img id="logo" src="{{ url_for('.static', filename='logo2.png') }}" align="center">
  </div>
  <div class="col-sm-6" style="" id="right">
  <form method="POST" action="/signin">
    <div class="group-form" >
      <h2 align="center" id="signin"> Sign in </h2>

      <span class="name-label"> Username: </span> 
            <input type="text" name="name" class="form-control" id="name" value="{{ name }}" required>
       <span class="pwd-label"> Password: </span> 
            <input type="password" name="password" class="form-control" id="password" value="{{ password }}" required>

      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input type="hidden" name="group_id" value="{{ group_id }}"/>
      
      <input type="submit"  id="login-button" class="btn" value="Login">
  </form>
      
  <form action="/register">
    
    <input type="submit"  id="create-button" class="btn" value="+ Create an account">

  </form>

    </div>
  </div>
</div>
  

 
{% endblock %}