{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
  <link rel="stylesheet" href="{{ url_for('.static', filename='css/mybase.css') }}">
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

{% endblock %}

{% block title %} Conversation Manager - {% endblock %}

{% block content %}

<div class="sidenav">
	<img id="logo" src="{{ url_for('.static', filename='logo2.png') }}">
  <a href="/inbox" class="other-links" id="ainbox"> <span class="glyphicon glyphicon-envelope"></span> Inbox</a>
  <a class="other-links" href="/broadcast" id="abroadcast"><span class="glyphicon glyphicon-bullhorn"></span>Broadcast</a>
  <a class="other-links" href="/groups" id="agroups"><span class="glyphicon glyphicon-user"></span> Groups</a>
  {% if owner == 1 %}
  <a class="other-links"  href="https://recast.ai/aklom/testing-bot/monitor/usage-metrics"><span class="glyphicon glyphicon-signal"></span> Dashboard</a>
  {% endif %}
  <a class="other-links" href="/settings" id="asettings"><span class="glyphicon glyphicon-edit"></span> Settings </a>


  <form method="POST" action="/logout" align="center">
	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button class="btn logout" type="submit" align="center"><i class="fas fa-sign-out-alt"></i> Log out </button>
  </form>
  <!--<a href="#clients">Go to recast.ai</a> -->
</div>

<div class="container main"> 
	{% block page_content %}{% endblock %}
</div>

{% endblock %}